.hero-img{
    width: 700px;
}


.about-img{
    margin-top: 200px;
    margin-bottom: 100px;
    border-radius: 20px;
    
}


.gradiant{
    background-color: #4158D0;
    background-image: linear-gradient(40deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}


.gradiant-2{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}



.btn-gradiant{
    background-image: linear-gradient( 135deg, #F6CEEC 10%, #aa51a3 100%);

}


.text-gradiant{
    font-size: 70px;
    background: -webkit-linear-gradient(#ffdaf4, #fd8fff, #ffc9fb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
