.side-bar{
    height: 0%;
    width: 17em;
}

.navlink{
    color: #444444;
}   

.act :hover{
    color: #6f42c1;
}

.act :focus{
    color: white;
    background-image: linear-gradient(to bottom right, #b49ae4, #6f42c1);
}

